<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Insert Title Here</title>

  <!-- Bootstrap core CSS -->
  <!-- Using http://getbootstrap.com/docs/4.1/examples/carousel/ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <p id="work">Work</p>
  <p id="contact">Contact</p>


  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="http://162.246.157.124:8000">
        <img src="./images/favicon.png" width="32px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./files/resume.pdf" target="_blank">Resume</a>
          </li>
        </ul>
        <div class="navbar-nav mr-inline">
          <a class=" my-a" href="https://github.com/BlazPocrnja" target="_blank">
            <svg class="my-svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="rgba(255, 255, 255, 0.5)"
                  d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,
                  21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,
                  19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,
                  16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,
                  16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,
                  16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,
                  10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,
                  6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,
                  6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,
                  6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,
                  11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,
                  17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,
                  21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
                />
            </svg>
          </a>
          <a class="my-a" href="https://www.linkedin.com/in/blaz-pocrnja/" target="_blank">
            <svg class="my-svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="rgba(255, 255, 255, 0.5)"
                  d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,
                  19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,
                  9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,
                  12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,
                  13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,
                  5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,
                  7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
                />
            </svg>
            </a>
          </div>
        </div>
      </nav>
    </header>

  <main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="./images/cover.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 id="name"/>
              <p>Software Developer</p>
              <p><a class="btn btn-lg btn-outline-warning" href="#About" role="button">See more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- Marketing messaging
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div id="About" class="container marketing">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="display-3">About Me</h1>
        <img class="rounded-circle-bordered" src="./images/aboutme.jpg" alt="Generic placeholder image" width="140" height="140">
        <p id="about" class="lead" style="margin-top: 20px"/>
        <p class="lead" style="margin-top: 20px">
          I can be found on
          <a href="https://github.com/BlazPocrnja" target="_blank">
            Github
          </a>
          and
          <a href="https://www.linkedin.com/in/blaz-pocrnja/" target="_blank">
            LinkedIn
          </a>.
          Take a look at my
          <a href="./files/resume.pdf" target="_blank">
            resume
          </a>
          and feel free to
          <a href="./contact.html">
            contact me
          </a>.
        </p>
      </div>
    </section>

    <div class="row">
      <div class="col-lg-4">
        <svg style="width:140px;height:140px" viewBox="0 0 24 24">
            <path fill="#ffbb33" d="M12,3L1,9L12,15L21,10.09V17H23V9M5,13.18V17.18L12,21L19,17.18V13.18L12,17L5,13.18Z" />
        </svg>
        <h2>Education</h2>
        <p id="education"/>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg style="width:140px;height:140px" viewBox="0 0 24 24">
            <path fill="#ffbb33" d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z" />
        </svg>
        <h2>Programming Skills</h2>
        <p id="skills"/>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg style="width:140px;height:140px" viewBox="0 0 24 24">
            <path fill="#ffbb33" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
        </svg>
        <h2>Teamwork</h2>
        <p>
          Demonstrated ability to work effectively on a team using agile software practices such as such as Scrum, extreme programming, and paired programming.
        </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2018 Blaz Pocrnja. All rights reserved.</p>
    </footer>

  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
  $(window).on('load', function(){
     // change the URL to your server URL here
     $.getJSON("/api/person/1/", function (data) {
          $("#name").text(data.data.attributes.name);
          $("#about").text(data.data.attributes.about);
          $("#education").text(data.data.attributes.education);
          $("#skills").text(data.data.attributes.skills);
          $("#work").text(data.data.attributes.work);
          $("#contact").text(data.data.attributes.contact);
     });
  });
  </script>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
